body{
    background-color: #cccccc;
    font-family: Arial,Arial, helvetica, sans-serif;
}

.bookHeadline{
    font-size: 12pt;
    font-weight:bold;
}

.bookDescription{
    font-size: 10pt;
}

label{
    font-weight: bold;
}

.errorPage{
    align-content: center;
}

.oops{
    font-size: large;
    font-weight: bold;
}